
nav  li {
    border-left: 1px black solid;
    font-size: 1.3em;

}

.navbar-header{
    height: 50px;

}

.navbar-brand{
    font-size: 2.5em;

}

.navbar-brand:hover{
    font-size: 2.7em;
    transition:0.5s;


}

.panel-body p{
    margin-top: 5%;
    text-align: center;
}

.panel-body img{
    margin-left: 31%;
    margin-top: 5%;
}

.panel-body ul li{
 list-style-type: none;
}

.panel-body ul li a {
    float: right;

}

.panel-body ul li a:hover {
    float: right;
    font-style: italic;


}

.panel-body ul li:hover{
    font-weight: bold;

}


.panel-body2{
    text-align: center;
}

.panel-body .btn.btn-primary{

    margin-left: 35%;
    margin-right: 5%;
    float: left;
}

.auth{
    float: right;
margin-bottom: 8%;
}

.bor{
    border: 1px solid black;
}

.panel-heading{
    text-align: center;
}

